// -- COLORES --

$color-fondo-header: #faebd9;
$color-texto-suave: #999999;
$color-acento-cyan: #00bcd4;
$color-badge-rojo: #FF0000;
$color-oscuro-puro: #000000;
$color-gris-carrito: #DCDCDC;
$color-blanco: #ffffff;

// -- TIÖGRAFÍA --

$fuente-principal: "Lexend", Arial, Helvetica, sans-serif;
$font-size-base: 15px;
$font-weight-light: 300;
$font-weight-bold: 600;

// -- MEDIDAS --

$ancho-carrito: 500px;
$ancho-carrito-mobile: 100%;